<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5 d-flex justify-content-center">
      <h1>about</h1>
    </div>
    
    <div class="col-md-12 mt-5 mb-5 offset-md-3">
      <p>このサイトは、日頃なかなか相談相手のいない大人たちが<br>
      集まって、匿名で恋バナをするサイトです。</p>
      <p>大人になるにつれ、周りが結婚したり、子供ができたり、<br>
      いろいろな人生を歩み進めていきます。</p>
      <p>なかなか同じ境遇、同じ価値観、同じ悩みを抱えた人が<br>
      周囲にいなくて恋愛相談ができない方は、この大人の恋バナに特化したSNSで<br>
      悩みを相談していませんか？</p>
      <p>ここでは人生の先輩や、同じ悩みを持つ仲間と一緒に<br>
      恋愛相談をしたり、逆に相談に回答したりできます。</p>
      <p>普段なかなか言えない正直な気持ちを相談してみませんか？</p>
      <p>気になるお相手と性格が同じタイプの方を探して、タイプに応じた攻略方法を教えてもらうこともできます。</p>
      <p>まずは会員登録から初めてみてください。</p>
    </div>
  </div>
</div>
