<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5 d-flex justify-content-center">
      <h2>性格診断</h2>
    </div>

    <div class="col-md-12 mt-3 d-flex justify-content-center">
      <p>あなたの性格を診断して、同じ価値観の人を探してみましょう！</br>
        同じような悩みを抱えていたり、恋バナの話が合う方が見つかるかもしれません。</br>
        また、全く性格・価値観の人の意見を探すこともできます。</p>
    </div>
    
    <div class="col-md-12 mt-3 d-flex justify-content-center">
      <h4>さっそく診断をしてみましょう↓</h4>
    </div>
    
    
  </div>
</div>