<div class="container">
  <div class="row">

    <div class="col-md-12 mt-5 d-flex justify-content-center">
      <%= image_tag 'koibana_top.jpg',size: '800x500' %>
    </div>

    <div class="col-md-12 mt-3 d-flex justify-content-center">こちらのサイトは、大人同士がざっくばらんに恋バナをすることを目的としたサイトです。</div>
    <div class="col-md-12 mt-3 d-flex justify-content-center">まずはあなたの恋愛タイプを診断してみてください。</div>
    <div class="col-md-12 mt-3 d-flex justify-content-center">同じ悩みを持つ仲間に出会えるかもしれません。</div>


  </div>
</div>