<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5 d-flex justify-content-center">
      <%= image_tag 'couple.jpg',size: '700x300' %>
    </div>
    
    <div class="col-md-6 mt-5 mb-5 d-flex justify-content-center">
      <%= link_to "診断内容編集", admin_diagnosises_path, class: "btn btn-sm btn-success" %>
    </div>
    
    <div class="col-md-6 mt-5 mb-5 d-flex justify-content-center">
      <%= link_to "会員情報一覧", admin_users_path, class: "btn btn-sm btn-success" %>
    </div>
    
  </div>
</div>