<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5 d-flex justify-content-center">
      <h2>診断結果</h2>
      
      <% if @diagnosis.question == "1111" %>
      <h6>うさぎ系タイプ</h6>
      <p>あなたは寂しがりやで恋人には甘えたいかまってちゃんタイプ</p>
      <p>自分の可愛さを知っていて、あざとく計算高い一面も！</p>
      
      <% elsif @diagnosis.question == "1112" %>
      <h6>ねこ系タイプ</h6>
      <p>あなたはツンデレで自由気ままなミステリアスタイプ</p>
      <p>照れ屋な部分があるので、周りからは無愛想でそっけな句思われてしまうことも！</p>
      
      <% elsif @diagnosis.question == "1121" %>
      <h6>犬系タイプ</h6>
      <p>あなたは人懐っこく献身的な忠犬タイプ</p>
      <p>好きな人には一直線なので、時にはその好意がバレバレなことも！</p>
      
      <% elsif @diagnosis.question == "1122" %>
      <h6>ヘビ系タイプ</h6>
      <p>あなたは狙った獲物は逃さないハンタータイプ</p>
      <p>用心深く、意外と繊細な一面があります。時にしつこいと言われてしまうことも！</p>
      
      <% elsif @diagnosis.question == "1211" %>
      <h6>キツネ系タイプ</h6>
      <p>常にニコニコしていて、子供のような面と冷静さが共存したタイプ</p>
      <p>頭が良く賢い＋愛嬌があるため人気者な反面、自信家な一面も！</p>
      
      <% elsif @diagnosis.question == "1212" %>
      <h6>蛍系タイプ</h6>
      <p>静かな場所を好み、自己主張が強くない癒し系タイプ</p>
      <p>貧弱に見られるが包容力があり、何か相談すると優しく励ましてくれる一面も！</p>
      
      <% elsif @diagnosis.question == "1221" %>
      <h6>ナマケモノ系タイプ</h6>
      <p>甘えん坊でマイペースだけど野心家な一面もあるタイプ</p>
      <p>感情を表に出さないので、付き合った人に「何考えているかわからない」とよく言われがち！</p>
      
      <% elsif @diagnosis.question == "1222" %>
      <h6>カピバラ系タイプ</h6>
      <p>ガサツなのに意外とビビりな癒し系タイプ</p>
      <p>基本的に部屋は散らかっている。おっとりしていて喧嘩にならないことがある。</p>
      
      <% elsif @diagnosis.question == "2111" %>
      <h6>ワニ系タイプ</h6>
      <p>警戒心が強いけど優しくされると弱いタイプ</p>
      <p>強がり ●知らない人には「なんだかあの人怖そう」「あの人ノリが悪いな」と思われがち！</p>
      
      <% elsif @diagnosis.question == "2112" %>
      <h6>ペンギン系タイプ</h6>
      <p>現実的な考え方を持っているといわれているタイプ</p>
      <p>「自分の限界はここまでだ」と割り切る、現実的な考え方を持っています</p>
      
      <% elsif @diagnosis.question == "2121" %>
      <h6>モグラ系タイプ</h6>
      <p>基本的に家の中で行動することが多く、外に出ることがほとんどないインドア派</p>
      <p>人混みが苦手で、コミュニケーションをとるのも得意ではないです。</p>
      
      <% elsif @diagnosis.question == "2122" %>
      <h6>パンダ系タイプ</h6>
      <p>小さいころから大事に育てられた温室育ちでおっとりしたタイプ</p>
      <p>雰囲気はほんわかとしているので一見周りの意見に合わせやすい人かと思われることが多いのですが、実は一度決めたら貫き通す頑固な一面も！</p>
      
      <% elsif @diagnosis.question == "2211" %>
      <h6>コアラ系タイプ</h6>
      <p>おっとりした性格で、欲がないタイプ</p>
      <p>常に自分のペースで動きますが、周りに合わせる協調性も高め。社交的でアクティブな一面を持ち合わせています。</p>
      
      <% elsif @diagnosis.question == "2212" %>
      <h6>オオカミ系タイプ</h6>
      <p>一匹オオカミという言葉があるように常に一人でいて、集団に溶け込むということはほとんどないタイプ</p>
      <p>基本的には一人の時間を大切にしていますが、仲間意識は人一倍高いという特徴もあります。</p>
      
      <% elsif @diagnosis.question == "2221" %>
      <h6>くま系タイプ</h6>
      <p>思わず抱きしめたくなるほどの愛くるしさを兼ね備えているタイプ</p>
      <p>天然キャラでおっとりしており、恥ずかしがりやな一面を持っています。</p>
      
      <% elsif @diagnosis.question == "2222" %>
      <h6>羊系タイプ</h6>
      <p>周囲に穏やかな雰囲気を与え、おっとりとしているタイプ</p>
      <p>何かに取り組むときはマイペースに進めますが、やるときにはやる、力を抜くときには抜く、といったようにメリハリをつけるのがうまいタイプでもあります。</p>
      
      
    </div>
  </div>
</div>
