<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5 d-flex justify-content-center">
      <h2><%= @user.nickname %>さんの部屋</h2>
    </div>

    <div class="col-md-3 mt-5 d-flex justify-content-center">
      <div>
        <%= render 'user_info', user: @user %>
      </div>
    </div>

    <div class="col-md-9 mt-5 d-flex justify-content-center">
      <%= render 'public/articles/article_outline', articles: @articles %>
    </div>

  </div>
</div>